<div class="col-lg-6 col-md-6 col-sm12 col-xs-12">
    <div class='panel panel-default'>
        <div class='panel-heading'>Educational Institute</div>
        <div class='panel-body'>
            <p style="color:black">
            India holds an important place in the global education industry. The country has more than 1.4 million schools with over 227 million students enrolled and more than 36,000 higher education institutes. India has one of the largest higher education systems in the world. However, there is still a lot of potential for further development in the education system
            <br /><br />
            Today digital system plays a key role in development of any kind of sector and hence we decided
            to make a presence of digital system for education industry.We can't deny the peresence of digital system in
            education industry but definitely there are lots of scope specially in Villages.
            </p>
        </div>
    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm12 col-xs-12">
        <div class='panel panel-default'>
            <div class='panel-heading'>Hospitality</div>
        <div class='panel-body'>
           <p style="color:black;">
            Today, most of the hospital in India are Digitized or in a process of Digitization.It's very important to Automate Manual activites 
            peroform in any Hospital. The Automated or Digitized Systems reduces time taken while a patient come to the Hospital to consult a
            Doctor. It is always in favor of patient if hospital reduces the time for thier data recording,payment and many more process.<br />
            <br />
            We are here to provide a robust web application to this sector. This application reduces a lot of time and removes manual activities.
        </p>
    </div>
    </div>
</div>