<div class='row'>
	<div class='col-lg-6'>
		<img src="Images/prem.jpg" style='    float: left;height: 467px;width: 300px;border-radius: 400px;margin-top: 4px;'>
		<h2 style='text-align: right;color: #fbfaf9;font-style: oblique;line-height: 0.5;'>Prem</h2>
		<h2 style='text-align: right;color: #fbfaf9;font-style: oblique;line-height: 1.4;'>Prakash</h2>
		<h4 style='text-align: right;color: #fbfaf9;font-style: oblique;line-height: 1.1;'>HTML5 and Angular Developer</h4>
	</div>
	<div class='col-lg-6'></div>
</div>