<div class="row contact-us">
    <div class="col-lg-6">
        <h4><u>Contact Us</u></h4>
        <address>
            <p style="color:#FFC107;">
                We are located at<br />
                N Ray Technology Pvt. Ltd.<br />
                Near Central School,Bazar Samiti<br />
                Chhapra Saran Bihar
            </p>
            <p>
                Mobile No: +91-8796271194
            </p>
            <p>
                Email Us: nraytechnology@gmail.com 
            </p>
        </address>
    </div>
    <div class="col-lg-6" style="border-left: 2px solid;">
        <h4><u>Enquiry Here</u></h4>
        <form class="form" name="myform" novalidate>
            <div class="form-group">
                <label for="txtName">Name:</label>
                <input type="text" class="form-control" name="txtName" ng-model="txtName" required ng-class="{'form-error':submitted && myform.txtName.$error.required}"/>
                <span class="error-message" ng-show="submitted && myform.txtName.$error.required">Please enter your name.</span>
            </div>
            <div class="form-group">
                <label for="txtEmail">Email Id:</label>
                <input type="email" class="form-control" id="txtEmail" required ng-model="txtEmail" name="txtEmail" ng-class="{'form-error':submitted && myform.txtEmail.$error.required || myform.txtEmail.$error.email}" />
                <span class="error-message" ng-show="submitted && myform.txtEmail.$error.required">Please enter your email id.</span>
                <span class="error-message" ng-show="submitted && myform.txtEmail.$error.email ||myform.txtEmail.$error.email">Please choose coorect email id.</span>
            </div>
            <div class="form-group">
                <label for="txtDOB">Date Of Birth:</label>
                <!--<input type="date" ng-model="txtdob" id="txtDOB" name="txtDOB" class="form-control" required style="width:262px;" ng-class="{'form-error':submitted && myform.txtDOB.$error.required}" />
                <span class="error-message" ng-show="submitted && myform.txtDOB.$error.required">Please select your date of birth.</span>-->
                <p class="input-group">
                    <input type="text"ng-class="error" ng-change="validateDate()" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="form-group">
                <label>Sex</label>
                <input type="radio" value="male" name="sex" ng-model="sex" required/>Male
                <input type="radio" value="female" name="sex" ng-model="sex" required/>Female<br />
                <span class="error-message" ng-show="submitted && myform.sex.$error.required">Please choose your sex.</span>
            </div>
            <div class="form-group">
                <label for="txtMobile">Mobile:</label>
                <input type="number" class="form-control" ng-model="txtMobile" id="txtMobile" name="mobile" required ng-class="{'form-error':submitted && myform.mobile.$error.required || myform.mobile.$error.number}" style="width:262px;"/>
                <span class="error-message" ng-show="submitted && myform.mobile.$error.required">Please enter your mobile no.</span>
                <span class="error-message" ng-show="submitted && myform.mobile.$error.number || myform.mobile.$error.number">Please enter correct mobile no.</span>
            </div>
            <div class="form-group">
                <textarea placeholder="Enter your message here" class="form-control" ng-model="txtMessage" name="message" required ng-class="{'form-error':submitted && myform.message.$error.required}"></textarea>
                <span class="error-message" ng-show="submitted && myform.message.$error.required">Please enter your message.</span>
            </div>
            <input type="submit" class="btn btn-success" style="margin-bottom: 15px;" value="Submit Your Message" ng-click="saveResponse()"/>
        </form>
</div>
</div>