
.panel-body img{
height: 169px;
    border-radius: 66px;
    float: left;
}

.panel-body p{
        position: relative;
    left: 15px;
    width:95%;
    color:black;
}

.angularBolg h4{
    width: 30%;
    margin: auto;
    color: black;
    padding:12px;
}

.angularBolg section{
        width: 82%;
    margin: auto;
}

.angularBolg section p{
    color:black;
}


.highlighted{
        border: 1px solid grey;
    background-color: #F3EDED;
    padding: 5px;
}

.helloWorld{
        background-color: #607D8B;
    color: #FF9800;
    /* margin: 12px; */
    margin: auto;
    width: 94%;
    padding:5px;
}
