
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 style="color:black;">About the Author</h4>
        </div>
        <div class="panel-body">
            <img src="Images/prem.jpg" />
            <p>
                I have almsot 4.2 years of experience in IT Sector with specialisation in User Interface
                Development. I have involved in end to end User Interface development. I have good exporsure to Web technologies
                like  HTML,XHTML,HTML5,Javascripts,Object Oriented Javascripts,Jquery,Jquery UI,Jquery Mobile,
                Angular Js,CSS,CSS3,Unit testing through Jasmine,Karma<br />
                I have worked TCS and Cognizant  and got a rich specialisation in Web technologies. I have found lots of tutorial on internet but
                only few of them realy helpful for fresher who wants to start their career as an Angular Js developer
            </p>
            <div class="row">
                <div class="col-lg-2">
                    <a href="#/AngTutorial">AngularJs Hello World</a>
                  <a href="#/CustomDirective">AngularJs Custom Directive</a>
                </div>
            </div>
        </div>
    </div>
</div>
