<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h2 style="    text-align: center;color: darkorange;">नंदू राय - मटेश्वर यादव मेमोरियल क्रिकेट टूर्नामेंट 2016</h2>
        <div style="padding:3px;">
            <p style="color: black;text-align: justify;">
                नंदू राय और मटेश्वर यादव, ये वो हस्ती है जो अपनी संपूर्ण जिंदगी लोगो की सेवा की और एक दिन हम सब को छोर के हमेशा के लिए अमर हो गए<br />
                इस टूर्नामेंट का आयोजन इन दो महान हस्तियों की याद में हर साल किया जाता रहा है.
            </p>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4 style="color:#07D822;">नंदू राय - मटेश्वर यादव मेमोरियल क्रिकेट टूर्नामेंट 2016 मैच कार्यकर्म </h4></div>
                <div class="">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Match</th>
                                <th>Team 1</th>
                                <th>Team 2</th>
                                <th>Date</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in matchSchedule">
                                <td>{{item.match}}</td>
                                <td>{{item.team1}}</td>
                                <td>{{item.team2}}</td>
                                <td>{{item.dateOfmatch}}</td>
                                <td>{{item.result}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-show="carousal">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-right:15px;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <img src="/Images/IMG-20160416-WA0003.jpg" alt="2016" style="height:532px;">
                    <div class="carousel-caption">
                        <h3>फैजुल्लाहपुर</h3>
                        <p>नंदू राय - मटेश्वर यादव मेमोरियल क्रिकेट टूर्नामेंट 2016</p>
                    </div>
                </div>
                <div class="item">
                    <img src="/Images/IMG-20160416-WA0001.jpg" alt="2016" style="height:532px;width:100%;">
                    <div class="carousel-caption">
                        <h3>फैजुल्लाहपुर</h3>
                        <p>नंदू राय - मटेश्वर यादव मेमोरियल क्रिकेट टूर्नामेंट 2016</p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->

        </div>
    </div>
 </div>
